body {
    align-content: center;
}

h3 {
    text-align: center;
}

.img-responsive {
    display: block;
    margin: 0 auto;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
}

#stripe {
    text-align: center;
}

.form-group {
    padding-bottom: 50px;
}

.well {
    height: auto;
}
.main-title {
    text-align: center;
}

#renvoie {
    text-align: center;
}

@media (min-width: 768px) {

    #commande {
        width: 100%;
        margin: auto;
    }

    #final {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 1200px) {

    #commande {
        width: 70%;
        margin: auto;
    }

    #final {
        width: 70%;
        margin: auto;
        text-align: center;
    }
}
