body {
    align-content: center;
}

#step-1 {
    width: 70%;
    margin: auto;
}

#step-2 {
    width: 70%;
    margin: auto;
}

.form-group {
    padding-bottom: 50px;
}

.well {
    height: auto;
}